<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="SearchPageTest">
		<classes>
			<class name="TestCase.SearchTC" />
		</classes>
	</test>
	<test name="FlightResultTest">
		<classes>
			<class name="TestCase.FlightResultTC" />
		</classes>
	</test>
	<test name="PassengerPageTest">
		<classes>
			<class name="TestCase.PassengerTC" />
		</classes>
	</test>
	<test name="AddonPageTest">
		<classes>
			<class name="TestCase.AddonTC" />
		</classes>
	</test>
	<test name="PaymentPageTest">
		<classes>
			<class name="TestCase.PaymentTC" />
		</classes>
	</test>
	<test name="ThanksPageTest">
		<classes>
			<class name="TestCase.ThanksTC" />
		</classes>
	</test><!-- Test -->
</suite> <!-- Suite -->
